.about__img1 {
    margin: 0 auto;
    margin-top: 10vw;
    width: 3vh;
    height: 3vh;
}

.about__text1 {
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
    font-family: "Gmarket Sans TTF";
    font-weight: 300;
    line-height: 1.65;
    overflow: hidden;
}

.about__img2 {
    margin: 0 auto;
    width: 20vh;
    height: 20vh;
    position: relative;
    margin-bottom: 10vw;
}

.about__text2 {
    line-height: 1;
    font-size: 1.2vw;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}



.rotating-img2 {
    display: block;
    margin: 0 auto;
    width: 20vh;
    height: 20vh;
    position: relative;
}

.shaking {
    animation: shake 0.5s ease-in-out infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }
}