@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://webfontworld.github.io/NexonLv1GothicLow/NexonLv1GothicLow.css');


/* --------------------------------//intro---------------------------------- */
#intro {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#animation-container {
  height: 100vh;
  position: absolute;
  z-index: -10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

}

.intro__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--sub-color);
  text-align: center;
  font-family: "Partizeno";
}

.intro__title .title1 {
  font-size: 11vw;
  line-height: 0.7;
  font-weight: 800;
  white-space: nowrap;
}

.intro__title .title2 {
  font-size: 13vw;
  line-height: 1;
  font-weight: 800;
  white-space: nowrap;
}

.intro__title .title3 {
  /* font-size: 6vw;
  line-height: 0.5;
  font-weight: 800;
  white-space: nowrap;
  font-size: 5vw;
  font-family: "Orbitron";
  font-style: italic; */

  font-size: 5vw;
  font-family: "Orbitron";
  font-style: italic;
  line-height: 1;
  margin-top: 5px;
}

.intro__title .title4 {
  /* font-size: 0.6vw;
  line-height: 5;
  white-space: nowrap;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 0.15rem;
  margin-top: 10%; */

  letter-spacing: 5px;
  margin-top: 20px;
  font-family: 'NexonLv1GothicLow';
  font-weight: 400;
  white-space: nowrap;
  font-size: 1vw;
}